#inputGroupPrepend {
  background: #707070;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 0 3px !important;
}

.inputicon {
  color: #fff;
  font-size: 20px;
  padding: 5px 7px !important;
}

#inpot {
  color : transparent;
    text-shadow : 0 0 0 #000;

    &:focus {
      outline : none;
    }
}

.formcontrol {
  outline: none;
  padding: 3px !important;
  border-radius: 5px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border: 0 !important;
  background: #f6f6f6;

  &:focus {
    box-shadow: none;
    background: #f6f6f6;
  }

  &::-webkit-input-placeholder {
    position: relative;
    left: 10px;
    font-size: 14px;
  }

  &::-moz-placeholder {
    position: relative;
    left: 10px;
    font-size: 14px;
  }

  &:-ms-input-placeholder {
    position: relative;
    left: 10px;
    font-size: 14px;
  }

  &:-moz-placeholder {
    position: relative;
    left: 10px;
    font-size: 14px;
  }
}

.formlabel {
  color: #000;
  line-height: 24px;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  // margin: 5% 0 !important;
}

.loan-buttons {
  span {
    display: block;
    margin-bottom: 8px !important;
  }
}

.loan-btn {
  padding: 3px 40px !important;
  border-radius: 5px;
  margin-right: 3% !important;
  margin-bottom: 8px !important;

  &:hover {
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
  }

  &:active,
  :focus {
    box-shadow: none !important;
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
    outline: none !important;
  }
}

.coloradd {
  box-shadow: none !important;
  background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
  outline: none !important;
  color: white;
}

.calendar {
  margin-top: 10px !important;
  width: 14rem;
}

.react-calendar__tile {
  padding: 0.14em 0.3em !important;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75) !important;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.3em !important;
}

.react-calendar__navigation {
  margin-bottom: 0.5em !important;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  margin: -0.5em !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em !important;
}

abbr[title] {
  text-decoration: none;
}