.planScreen {
  height: 100vh;
  position: relative;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0 0 30px 0 !important;
}
.topsection {
  position: absolute;
  // display: flex;
  top: 7vh;
  left: 5%;
  // width: auto;

  a {
    text-decoration: none;
    color: #ff005e;
    &:hover {
      text-decoration: underline;
    }
  }
}

.steps {
  position: relative;
  top: 9vh;
  // display: inline-block;
}

.plans {
  position: relative;
  top: 13vh;
  // font-size: 50px;

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 30px !important;

    .infotext {
      p {
        font-size: 14px;
        color: #720056;
        margin-top: 10px !important;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    .boxz {
      border: 0.5px solid #bebebe;
      // padding: 20px 0 !important;
      // padding: 0 10px !important;
      width: 5em;
      height: 5em;
      margin: 10px 3px !important;
      border-radius: 8px;
      cursor: pointer;
      // margin-right: 3px !important;


      .top {
        width: 100%;
        height: .8rem;
        background-color: blue;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      .top1 {
        background-color: #ff5353;
      }

      .top2 {
        background-color: #ff51f3;
      }
      

      .top3 {
        background-color: #6751ff;
      }
      

      .top4 {
        background-color: #51ffed;
      }
      

      .top5 {
        background-color: #ffae51;
      }
      

      .top6 {
        background-color: #6dff51;
      }

      // .content {
      //   height: auto;
      // }
      &:focus,
      &:hover {
        background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
        // padding: 12px !important;

        h5 {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }

      h5 {
        font-size: 27px;
        font-weight: bold;
        color: #720056;
      }

      p {
        font-size: 11px;
        color: #720056;
        // color: #afafaf;
        // margin-top: 6px !important;
      }
    }
  }

  .focused {
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);

    .content{
      // padding: 10px !important;

      h5 {
        color: #fff;
      }
  
      p {
        color: #fff;
      }
    }
  }
}
.btmbtn {
  // position: relative;
  // bottom: 3vh;
  margin: 25px 0 !important;

  #btmbtn {
    padding: 10px 40px !important;
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
    border-radius: 9px;
    border: none;

    &:hover {
      background: linear-gradient(223.39deg, #852648 0%, #ff005e 70.05%);
    }

    &:disabled{
      background:#AFAFAF;
    }
  }
}

.paymentbreakdown {
  // transition: all 1s ease;
  .brkdwn {
    border: 1px solid #bebebe;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px 0px 0px 15px !important;
    line-height: 30px;

    .bkdn {
      // line-height: 50px;
      margin: auto !important;
      .row {
        .col {
          padding: 15px 0px !important;
        }
      }
    }
    .sumry {
      display: flex;
      justify-content: space-between;
    }

    .lbo {
      font-size: 15px;
    }

    .bdtxt {
      font-size: 15px;
      text-align: left;
    }
  }

  .customside {
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
    border-radius: 10px;
    padding: 20px 0 0 0 !important;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    .frmctn {
      margin: 10px 0 !important;
    }
    // .col {
    //   // margin: 10px 0 !important;
    // }

    span {
      font-size: 14px;
      color: #fff;
    }
  }
}

#inputGroupPrepend2 {
  background: #707070;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 0 3px !important;
  border-right: none;

  // span {
  // }
}

.frm {
  border-radius: none !important;
  padding: 0 10px !important;
}

.subbtn {
  margin: 25px auto 10px auto !important;
  #sub-btn {
    // padding: 2px 40px !important;
    text-align: center;

    &:hover {
      background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
    }

  }
}

.lbl {
  // padding: 0 !important;
  border-left: 1px solid #707070;
  // margin-top: -10px !important;
  span {
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .brkdwn {
    line-height: 30px !important;
    border-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .customside {
    border-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .steps {
    top: 11vh;
    margin: 5px auto !important;
  }
}