.signup {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  // margin-bottom: 3rem !important;
}

.suform {
  position: relative;
  top: 10vh;
  // font-size: 50px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 30px !important;
}

.form-control_ {
  border: none;
  border-bottom: 3px solid #ff005e;
  padding: 10px !important;
  border-radius: 0px;

  &:focus {
    border-bottom: 3px solid #ff005e;
  }

  &:nth-child(-n + 3) {
    margin-bottom: 40px !important;
  }

  &::-webkit-input-placeholder {
    position: relative;
    color: #b1b1b1;
    font-size: 14px;
    left: -1%;
  }

  &::-moz-placeholder {
    position: relative;
    color: #b1b1b1;
    font-size: 14px;
    left: -1%;
  }

  &:-ms-input-placeholder {
    position: relative;
    color: #b1b1b1;
    font-size: 14px;
    left: -1%;
  }

  &:-moz-placeholder {
    position: relative;
    color: #b1b1b1;
    font-size: 14px;
    left: -1%;
  }
}

.sitxt {
  color: #b1b1b1;
  font-size: 14px;

  a {
    color: #ff005e;

    &:hover {
      color: #720056;
    }
  }
}

.form_ {
  margin-top: 60px !important;
  position: relative;
}

.form-check {
  display: block;
  min-height: 1.5rem !important;
  padding-left: 1.5em !important;
  margin-bottom: 0.125rem !important;
}

.form-check-inline {
  display: inline-block;
  // margin-right: 1rem !important;
}

// .form-label {
//   margin-bottom: .5rem !important;
// }

.contdbtn {
  position: relative;
  // bottom: 0px;
  // margin-top: 40px !important;
  margin-bottom: 20px !important;
  // margin-bottom: 3rem !important;

  #btmbtn {
    padding: 10px 50px !important;
    background: linear-gradient(223.39deg, #ff005e 0%, #720056 64.05%);
    border-radius: 9px;
    border: none;

    &:hover {
      background: linear-gradient(223.39deg, #852648 0%, #ff005e 70.05%);
    }
  }
}

.check {
  margin: 2rem 0 !important;

  // span {
  //   margin-bottom: 3rem !important
  // }
  .checktext{
    display: inline-block;
    position: relative;
  }

  .form-check-input {
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    left: 0;
    border: 2px solid #ff005e;
    margin-right: -5px !important;

    &:checked {
      background-color: #ff005e;
    }
  }
}

.inputgroup_ {
  position: relative;

  span {
    position: absolute;
    right: 0px;
    top: 10px;

    img {
      width: 25px;
      height: auto;
      // cursor: pointer;
    }
  }
}

.mid {
  margin: 2rem 0 !important;
}

.top-section {
  position: relative;
  top: 7vh;
  left: 5%;

  a {
    color: #FF005E;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.s-checks {
  top: 7vh;
}



.forgotpass {
  margin-top: 2rem !important;
  a {
    color: #720056;
    font-size: 13px;
    font-weight: bold;

    &:hover {
      color: #ff005e;
    }
  }
}